<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maoatao.cas.core.mapper.PermissionMapper">
    <resultMap id="permissionMap" type="com.maoatao.cas.core.bean.entity.PermissionEntity">
        <id property="id" column="id"/>
        <result property="clientId" column="client_id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="createdById" column="created_by_id"/>
        <result property="createdDate" column="created_date"/>
        <result property="updatedById" column="updated_by_id"/>
        <result property="updatedDate" column="updated_date"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <select id="listByClientUser" resultMap="permissionMap">
        SELECT c.`code`, c.`client_id`
        FROM `t_cas_client_user_role` a,
             `t_cas_role_permission` b,
             `t_cas_permission` c
        WHERE a.`role_id` = b.`role_id`
          AND b.`permission_id` = c.`id`
          AND c.`deleted` = b'0'
          AND a.`client_user_id` = #{clientUserId};
    </select>

    <select id="listByClientUsers" resultMap="permissionMap">
        SELECT c.`code`, c.`client_id`
        FROM `t_cas_client_user_role` a,
        `t_cas_role_permission` b,
        `t_cas_permission` c
        WHERE a.`role_id` = b.`role_id`
        AND b.`permission_id` = c.`id`
        AND c.`deleted` = b'0'
        AND a.`client_user_id` in
        <foreach collection="clientUserIds" item="clientUserId" index="index" open="(" close=")" separator=",">
            #{clientUserId}
        </foreach>
    </select>

    <select id="listByClientScopes" resultMap="permissionMap">
        SELECT b.`code`, b.`client_id`
        FROM `t_cas_client_scope_permission` a,
        `t_cas_permission` b
        WHERE a.`permission_id` = b.`id`
        AND b.`deleted` = b'0'
        AND a.`scope_id` in
        <foreach collection="scopes" item="scope" index="index" open="(" close=")" separator=",">
            #{scope}
        </foreach>
    </select>
</mapper>
